.jumbotron {
  background-color: #fffa19;
  color: #20db16;
  margin-top: 50px;
  margin-bottom: 0;
}
footer {
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
  background-color: #f2220f;
  margin-top: 10px;
  margin-bottom: 0;
}
.card-hotel {
  flex: 1 200px;
  /*padding: 2px 0px 2px 0px;*/
  margin-top: 10px;
  margin-bottom: 0;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-space {
  padding-right: 10px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
