$yellow:#fffa19;
$green:#20db16;
$red:#f2220f;

@mixin margenes($top, $bottom){
margin-top: $top;
margin-bottom: $bottom;
}

@mixin padding($top, $bottom, $right, $left){
padding-right: $right;
padding-top:$top;
padding-left:$left;
padding-bottom:$bottom;
}

.jumbotron {
background-color: $yellow;
color: $green;
@include margenes(50px,0);
}

footer{
@include padding(10px,0px,10px,10px);
 background-color: $red;
 @include margenes(10px,0);
}

.card-hotel{
	flex: 1 200px;
	/*padding: 2px 0px 2px 0px;*/
	@include margenes(10px,0);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-space{
	@include padding(0px,0px,10px,0px);
}
